<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <body>
        <h1>Be back soon</h1>
        <p>Site is currently under maintenanace</p>
    </body>

</html>